<div class="panel panel-default">
  <div class="panel-heading">
        <b> NEWS QUEUE DETAILS</b>
  </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
              <mat-slide-toggle
              class="example-margin"
              [(ngModel)]="checked"
              [disabled]="disabled"
              (change)="onChangeLockRecord($event)">
               Lock Record
              </mat-slide-toggle>
          </div>
         </div>
    </div>
    <br>
    <!-- <div class="row">
      <div class="col-lg-6">

      </div>
    </div> -->

    <mat-divider></mat-divider>
    <br>
    <div class="row">
      <div class="col-lg-12">
          <mat-form-field>
              <input type="text" matInput placeholder="Article ID" [(ngModel)]="newsObject?.article.pkArtikleID" readonly="true">
          </mat-form-field>

          <mat-form-field>
              <input type="text" matInput placeholder="Watch ID" [(ngModel)]="newsObject?.watch.pkWatchID" readonly="true">
          </mat-form-field>
          <br>

          <h2>Title: <a href="{{newsObject?.article.url}}"  target="_blank">{{newsObject?.article.title}}</a></h2>

          <h4>Date: {{ newsObject?.article.dateAdded | date: 'MM/dd/yyyy HH:mm:ss a' }} <a href="{{newsObject?.feed.feedURL}}"  target="_blank">{{newsObject?.feed.feedName}}</a></h4>
          <div class="text-area-container">
            <mat-form-field >
                <textarea matInput placeholder="Description" [(ngModel)]="newsObject?.article.artikleDescription" readonly="true" rows="10"></textarea>
            </mat-form-field>
          </div>

          <h4>Matchin to watch <b>{{newsObject?.watch.caption}}</b></h4>

          <br>

          <form (ngSubmit)="onSubmit(formDirective)" [formGroup]="humanReviewForm" #formDirective="ngForm">
            <div class="form-group">
              <label style="padding-right: 10px;">Status:</label>
              <mat-form-field>
                <mat-select placeholder="Select status" formControlName="newsStatus" >
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let status of newsStatuses" [value]="status.newsState">
                      {{status.newsStatusDescription}}
                    </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="text-center">
                <button mat-raised-button color="primary" [disabled]="disabled !== false || humanReviewForm.invalid" type="submit">SUBMIT CHANGES</button>
                <button mat-raised-button (click)="onCancel()">BACK</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
