Web API/LNWCOE/.vs/LNWCOE/v15/Server/sqlite3/db.lock
Web API/LNWCOE/.vs/LNWCOE/v15/Server/sqlite3/storage.ide
Web API/LNWCOE/.vs/LNWCOE/v15/Server/sqlite3/storage.ide-shm
Web API/LNWCOE/.vs/LNWCOE/v15/Server/sqlite3/storage.ide-wal
