<div class="panel panel-default">
  <div class="panel-heading">
        <b> ALERT JOBS QUEUE ENTITY DETAILS</b>
  </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
              <mat-slide-toggle
              class="example-margin"
              [(ngModel)]="checked"
              [disabled]="disabled"
              (change)="onChangeLockRecord($event)">
               Lock Record
              </mat-slide-toggle>
          </div>
         </div>
    </div>
    <br>
    <!-- <div class="row">
      <div class="col-lg-6">

      </div>
    </div> -->

    <mat-divider></mat-divider>
    <br>
    <div class="row">
      <div class="col-lg-12">
          <div class="row">

            <div class="col-lg-6">
                <div class="text-container">
                  <mat-form-field>
                      <input type="text" matInput placeholder="Job Name" [(ngModel)]="alertObject?.alertJobs.jobName" readonly="true">
                  </mat-form-field>
                </div>
                <div class="text-area-container">
                  <h5>Job URL: <a href="{{alertObject?.alertJobs.jobURL}}"  target="_blank">{{alertObject?.alertJobs.jobURL}}</a></h5>
                </div>
                <div class="text-area-container">
                    <mat-form-field >
                        <textarea matInput placeholder="Alert Name" [(ngModel)]="alertObject?.alertNames.nameEntry" readonly="true" rows="5"></textarea>
                    </mat-form-field>
                  </div>
              </div>
            </div>

          <form (ngSubmit)="onSubmit(formDirective)" [formGroup]="humanReviewForm" #formDirective="ngForm">


            <div class="form-group">
                <label style="padding-right: 10px;">Status:</label>
                <mat-form-field>
                  <mat-select placeholder="Select status" formControlName="alertDisposition"  [(value)]="alertObject?.alertJobsQueueEntity.statusID">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let disposition of alertDispositions" [value]="disposition.collectionItemID">
                        {{disposition.itemText}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            <div class="text-center">
                <button mat-raised-button color="primary" [disabled]="disabled !== false || humanReviewForm.invalid" type="submit">SUBMIT CHANGES</button>
                <button mat-raised-button (click)="onCancel()">BACK</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
