
<div class="row">
    <div class="col-lg-12">
      <div class="text-center">
    <div class="error-template">
      <h1>Oops!</h1>
      <h2>404 Not Found</h2>
      <div class="error-details">
          Sorry, an error has occured, Requested page not found!<br>
      </div>
      <br>
      <div class="error-actions">
    <!-- <button (click)="onReturnHome()" class="btn btn-secondary">
        <i class="fa fa-home"></i> Take Me Home </button> -->
        <!-- <a class="nav-link" [routerLink]="['./home']"><i class="fa fa-home"></i> Take Me Home</a> -->
      </div>
  </div>
    </div>
  </div>
  </div>
