<p-dialog *ngIf="selectedAppUser" [(visible)]="display" [modal]="true" [responsive]="true" [width]="550" [baseZIndex]="10000" [closable]="false">
  <p-header>
      <i class="fas fa-plus"></i>
      Add User Contract
  </p-header>
  <form (ngSubmit)="onSave(appUserContractForm)" [formGroup]="appUserContractForm" #formDirective="ngForm" >
      <div class="ui-fluid">
          <div class="container">
              <br>
              <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible" role="alert">
                  {{ errorMessage }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onCloseMessage()">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>

              <div class="form-group">
                <label for="contractType">Contract Type</label>
                <p-dropdown name="contractType" [autoWidth]="false" [options]="contractTypes"placeholder="Select contract type" optionLabel="contractTypeName"
                formControlName="contractType" [ngClass]="{ 'is-invalid': isSubmitted && f.contractType.errors }"></p-dropdown>
              </div>

              <div class="form-group">
                  <label for="startDateUTC">Start Date</label>
                  <p-calendar formControlName="startDateUTC" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:3000" [showIcon]="true"></p-calendar>
               </div>

               <div class="form-group">
                <label for="terminationDateUTC">Termination Date</label>
                <p-calendar formControlName="terminationDateUTC" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:3000" [showIcon]="true"></p-calendar>
             </div>

             <div class="form-group">
              <label for="movedToProductionUTC">Moved To Production</label>
              <p-calendar formControlName="movedToProductionUTC" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:3000" [showIcon]="true"></p-calendar>
            </div>
          </div>
      </div>
        <hr>
        <div class="text-right">
          <button type="submit" pButton label="Submit" class="btn-space"></button>
          <button type="button" pButton (click)="onClose()"label="Cancel" class="ui-button-secondary"></button>
        </div>
    </form>
</p-dialog>

