.login-container {
  margin-top: 100px;
}

.login-card {
  background-color: #f2f2f2;
}

.login-logo {
  text-align: center;
}

.title-container {
  text-align: center;
  padding: -5px 0px -5px 0px;
}

.app-title {
  display: block;
  font-size: 2em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

@media screen and (min-width: 500px) {
  .login-form {
    width: 500px;
    margin: 0 auto;
  }
}
