<p-dialog *ngIf="display" [(visible)]="display" [style]="{}" [modal]="true" [responsive]="true" [width]="550" [baseZIndex]="10000" [closable]="false">
    <p-header>
        <i class="fas fa-plus"></i>
        Add New Collection
    </p-header>
    <form (ngSubmit)="onSave(collectionForm)" [formGroup]="collectionForm" #formDirective="ngForm">
        <div class="ui-fluid">
            <div class="container">
                <br>
                <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible" role="alert">
                    {{ errorMessage }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onCloseMessage()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="form-group">
                  <label for="collectionName">Name</label>
                  <input  name="collectionName" type="text" class="form-control" pInputText placeholder="Enter name"
                  formControlName="collectionName" [ngClass]="{ 'is-invalid': isSubmitted && f.collectionName.errors }">
                </div>

                <div class="form-group">
                  <label for="collectionDescription">Description</label>
                    <textarea pInputTextarea [rows]="3" name="collectionDescription" class="form-control" placeholder="Enter description"
                    formControlName="collectionDescription" [ngClass]="{ 'is-invalid': isSubmitted && f.collectionDescription.errors }"></textarea>
                </div>

                <div class="form-group">
                  <label for="sortOrder">Sort</label>
                  <input name="sortOrder" type="text" class="form-control" pInputText placeholder="Enter Sort"
                  formControlName="sortOrder" [ngClass]="{ 'is-invalid': isSubmitted && f.sortOrder.errors }">
                </div>
            </div>
          </div>
          <hr>

          <div class="text-right">
            <button type="submit" pButton label="Submit" class="btn-space"></button>
            <button type="button" pButton (click)="onClose()"label="Cancel" class="ui-button-secondary"></button>
          </div>

      </form>
  </p-dialog>
