<p-dialog *ngIf="selectedWorkUnitDuration" [(visible)]="display" [style]="{}" [modal]="true" [responsive]="true" [width]="550" [baseZIndex]="10000" [closable]="false">
  <p-header>
      <i class="fas fa-plus"></i>
      Update Work Unit Duration
  </p-header>
  <form (ngSubmit)="onSave(formDirective)" [formGroup]="workUnitDurationForm" #formDirective="ngForm">
      <div class="ui-fluid">
          <div class="container">
            <br>
            <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible" role="alert">
                {{ errorMessage }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onCloseMessage()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="form-group">
              <label for="workUnitType">Work Unit</label>
              <p-dropdown name="workUnitType" [autoWidth]="false" [options]="workUnitTypes" placeholder="Select work unit type" optionLabel="workUnitTypeName"
              formControlName="workUnitType" [ngClass]="{ 'ui-dropdown-custom': isSubmitted && f.workUnitType.errors }"></p-dropdown>
            </div>

              <div class="form-group">
                <label for="durationInMinutes">City</label>
                <input name="durationInMinutes" type="number" class="form-control" pInputText placeholder="Enter duration in minutes"
                formControlName="durationInMinutes" [ngClass]="{ 'is-invalid': isSubmitted && f.durationInMinutes.errors }">
              </div>

              <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="isActive">Is Active?</label><br>
                        <p-inputSwitch name="isActive" formControlName="isActive"></p-inputSwitch>
                    </div>
                </div>
              </div>

          </div>
        </div>
        <hr>

        <div class="text-right">
          <button type="submit" pButton label="Save Changes" class="btn-space"></button>
          <button type="button" pButton (click)="onClose()"label="Cancel" class="ui-button-secondary"></button>
        </div>

    </form>
</p-dialog>
