<p-dialog *ngIf="display" [(visible)]="display" [modal]="true" [responsive]="true" [width]="550" [baseZIndex]="10000" [closable]="false">
    <p-header>
        <i class="fas fa-user-plus"></i>
        Add Role Page
    </p-header>
    <form (ngSubmit)="onSave(pageInUserRoleForm)" [formGroup]="pageInUserRoleForm" #formDirective="ngForm">
        <div class="ui-fluid">
            <div class="container">
              <br>
              <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible" role="alert">
                  {{ errorMessage }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onCloseMessage()">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>

              <br>
                <div class="form-group">
                    <label for="page">Page</label>
                    <p-dropdown name="page" [autoWidth]="false" filter="true" [options]="pages"  placeholder="Select page" optionLabel="pageName"
                    formControlName="page" [ngClass]="{ 'ui-dropdown-custom': isSubmitted && f.page.errors }"></p-dropdown>
                </div>
                <br>
            </div>
        </div>
          <hr>
          <div class="text-right">
                  <button type="submit" pButton label="Submit" class="btn-space"></button>
                  <button type="button" pButton (click)="onClose()"label="Cancel" class="ui-button-secondary"></button>
          </div>
      </form>
</p-dialog>
